<ion-header>

  <ion-navbar rakuten>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agenda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let item of getTimeList()">
    <ion-list-header>
      {{item}}
    </ion-list-header>
    <ion-item *ngFor="let data of getLecturesByTime(item)">
      <h2>{{data.titulo}}</h2>
      <h3>{{getPalestrantesLabel(data.palestrantes)}}</h3>
      <p>{{data.descricao}}</p>
    </ion-item>    
  </ion-list>
</ion-content>
