<ion-header>

  <ion-navbar rakuten>
    <ion-title>Agenda
      <img src="build/img/logo-rakuten.png" alt="">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="agendaLista">
    <ul>
      <li *ngFor="let item of getTimeList()">        
        <div *ngFor="let data of getLecturesByTime(item); let index = index">
          <h3 *ngIf="data.trilhaID != '' && index == 0"><i class="material-icons">query_builder</i> {{item}}</h3>
          <div class="chip {{getTrilhaData(data.trilhaID,2)}}" *ngIf="data.trilhaID != ''">
            <img src="{{getFotoPalestrantes(data.palestrantes)}}" alt="{{getPalestrantesLabel(data.palestrantes)}}" />
            <span>{{getPalestrantesLabel(data.palestrantes)}}</span>
            <span class="badge {{getTrilhaData(data.trilhaID,2)}}">{{getTrilhaData(data.trilhaID,3)}}</span>
            <span class="canal"><i class="small material-icons">radio</i> {{getTrilhaData(data.trilhaID,1)}}</span>
            <span class="tituloPalestrante">{{data.titulo}}</span>
          </div>
          <div *ngIf="data.trilhaID == ''" class="genesis">
            <h3><i class="material-icons">query_builder</i> {{item}} {{data.titulo}}</h3>
            <img src="{{getFotoPalestrantes(data.palestrantes)}}" alt="{{getPalestrantesLabel(data.palestrantes)}}" *ngIf="getFotoPalestrantes(data.palestrantes) != ''" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</ion-content>