<ion-header>

  <ion-navbar rakuten>
    <ion-title>Patrocinadores
      <i class="material-icons info" id="iconInfo">info_outline</i></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="patrocinadores">
    <div class="row box" ng-show="getSponsorsByType('Diamond').length > 0">
      <h3>Diamond</h3>
      <img *ngFor="let item of getSponsorsByType('Diamond')" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>

    <div class="row box" ng-show="getSponsorsByType('Gold').length > 0">
      <h3>Gold</h3>
      <img *ngFor="let item of getSponsorsByType('Gold')" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>

    <div class="row box" ng-show="getSponsorsByType('Silver').length > 0">
      <h3>Silver</h3>
      <img *ngFor="let item of getSponsorsByType('Silver')" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>

    <div class="row box" ng-show="getSponsorsByType('Bronze').length > 0">
      <h3>Bronze</h3>
      <img *ngFor="let item of getSponsorsByType('Bronze')" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>
  </div>
</ion-content>