<ion-header>

  <ion-navbar rakuten>
    <ion-title>Patrocinadores
      <i class="material-icons info" id="iconInfo">info_outline</i></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="patrocinadores">
    <div class="row box" ng-show="_diamond.length > 0">
      <h3>Diamond</h3>
      <img *ngFor="let item of _diamond" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>

    <div class="row box" ng-show="_gold.length > 0">
      <h3>Gold</h3>
      <img *ngFor="let item of _gold" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>

    <div class="row box" ng-show="_silver.length > 0">
      <h3>Silver</h3>
      <img *ngFor="let item of _silver" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>

    <div class="row box" ng-show="_bronze.length > 0">
      <h3>Bronze</h3>
      <img *ngFor="let item of _bronze" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>
  </div>
</ion-content>