//Fontes de ícones
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(../fonts/BjAYBlHtW3CJxDcjzrnZCLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

//Header
ion-navbar.toolbar{
    ion-title{
        text-align: center;
        img{
            position: absolute;
            left: 5%;
            bottom: 15%;
        }
    }
    i{
        color: #FFF;
        font-size: 31px;
        position: absolute;
        bottom: 15%;
        &.info{
            left: 5%;
        }
        &.search {
            right: 5%;
        }
        &.star{
            right: 15%;
        }
    }
}

//Página Home
.home{
    .content,.row.box{
        border-bottom: 1px solid #CCC;
        margin-bottom: 15px;
        padding-bottom: 15px;
        .dados{
            float: left;
            width: 45%;
            &:first-child{
                border-right: 1px solid #ccc;
                margin-right: 15px;
            }
            ul li{
                font-size: 14px;
                i{
                    vertical-align: bottom;
                }
            }
        }
    }
    p{
        font-size: 14px;
        text-align: justify;
        text-justify: inter-word;
    }
    .destaque{
        text-align: center;
    }
}

//Página de palestrantes
ion-searchbar{
    display: none;
    .searchbar-input-container{
        .searchbar-search-icon{
            top: 8px;
            left: 0px;
            width: 30px;
            height: 30px;
            background-size: 30px;
        }
        input[type=search]{
            margin-bottom: 0px;
            padding-left: 31px;
            width: 91%;
            &:focus{
                border-bottom: 1px solid #069;
            }
        }
    }    
}

.row.guias{
    .col{
        padding: 0;
        .tabs{
            li.tab{
                &.marketing{
                    background-color: color($colors, marketing);
                }
                &.inovacao{
                    background-color: color($colors, inovacao);
                }
                &.varejo{
                    background-color: color($colors, varejo);
                }
                &.gestao{
                    background-color: color($colors, gestao);
                }
                a{
                    font-size: 12px;
                    color: #FFF;
                }
                :hover{
                    color: #FFF;
                }
            }
            .indicator{
                background-color: #eaeaea;
            }
        }
    }
}

.card{
    display: inline-block;
    width: 100%;
     .card-image{
         float: left;
         img{
             width: 130px !important;
             height: 160px !important;
             background-color: #ccc;
             margin-right: 5px;
         }
    }
    .card-content{
        padding: 19px 5px !important;
        .card-title{
            font-size: 18px !important;
            width: 67%;
            line-height: inherit !important;
            .nomePalestrante, .ocupacaoPalestrante{
                display: block;
                margin: 0px;
            }
            .nomePalestrante{
                font-weight: bold;
                color: #333;
            }
            .ocupacaoPalestrante{
                font-size: 16px;
            }
        }
        .infoPalestrante{
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 1px solid #eaeaea;
            width: 69%;
            padding: 4px 5px 0;
            text-align: right;
            i.small{
                font-size: 24px;
                color: #999;
            }
            span {
                color: #999;
                font-size: 17px;
                vertical-align: top;
                padding: 4px 10px;
                border-right: 1px dashed;
            }
        }
        
    }
    .card-reveal{
        p{
            font-size: 14px;
            margin: 0;
        }
    }
}

//Página Minha Agenda
.agendaLista{
    ul{
        li{
            border-bottom: 1px solid #CCC;
            margin-bottom: 15px;
            padding-top: 5px;
            padding-bottom: 15px;
            display: inline-block;
            width: 100%;
            h3{
                font-size: 19.6px;
                float: left;
                margin: 0;
                padding: 0;
                padding-bottom:10px;
                line-height: 24px;
                color: #000;
                font-weight: normal;
                width: 100%;
                i{  
                    float: left;
                    margin-right: 5px;
                }
            }
            img{
                max-width: 80%;
            }
            .chip{
                height: auto;
                background-color: #FFF;
                color: #000;
                font-size: 16px;
                font-weight: normal;
                position: relative;
                width: 100%;
                margin-top: 2px;
                img{
                    width: 100px;
                    height: 130px;
                    border-radius: 0;
                }
                span{
                    font-size: 16.5px;
                    color: #000;
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    &.tituloPalestrante{
                        width: 55%;
                        font-size: 14px;
                    }
                    &.canal{
                        position: absolute;
                        top: 30%;
                        right: 0;
                    }
                    i{
                        font-size: 22px;
                    }
                }
                .badge{
                    top: 0;
                    right: 0;
                    font-size: 12px;
                    margin: 0;
                    padding: 5px;
                    line-height: 18px;
                    color: #FFF;
                    text-transform: uppercase;
                    &.marketing{background-color: color($colors, marketing);}
                    &.inovacao{background-color: color($colors, inovacao);}
                    &.varejo{background-color: color($colors, varejo);}
                    &.gestao{background-color: color($colors, gestao);}
                }
            }
            .genesis{
                text-align: center;
                h3{
                    text-align: left;
                }
            }
        }
    }
    
}

//Página Como Chegar
.como-chegar{
    .local{
        border-bottom: 1px dashed #999;
        padding-bottom: 10px;
        margin-bottom: 10px;
        h3{
            font-size: 26px;
            color: #333;
            margin: 0 0 5px;
            text-align: center;
        }
        .map {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
    .hoteis{
        h3{
            font-size: 24px;
            color: #333;
            text-align: center;
            margin: 10px 0 5px 0;
        }
        .row.box{
            border: 1px solid #eaeaea;
            padding: 5px;
            max-width: 80%;
            text-align: center;
            img{
                display: inline-block;
            }
            span{
                display: inline-block;
                color: #333;
            }
            p{
                font-size: 12px;
            }
        }
    }
}

//Patrocinadores
.patrocinadores{
    .row.box{
        text-align: center;
        h3 {
            color: #999;
            font-size: 24px;
            text-transform: uppercase;
            border-bottom: 1px dashed #999;
            padding-bottom: 8px;
        }
        img {
            width: 40%;
        }
    }
}

.card .card-content .infoPalestrante i.small.material-icons.active, .material-icons.search.star.active {
    color: #FFD600;
}

.tabContent.off {
    display: none;
}